/*Contenedores*/
.parent {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.upcoming {
  font-size: 14px;
  grid-column: 2/6;
  margin: 2px;
}

.card-container {
  grid-column: 1/13;
  grid-template-rows: repeat(2, 1fr);
  height: 120px;
  padding-left: 20px;
}
.card {
  display: inline-block;
  width: 171px;
  height: 106px;
  color: white;
  grid-row: 1/3;
  background-color: #10161c;
  border-radius: 8px;
  background-color: #10161c;
  box-shadow: inset -2px -2px 4px 0 #040b11, inset 2px 2px 4px 0 #1c232a,
    0 13px 9px 0 #000000;
  margin: 2px;
}

/*Texto*/
.s1 {
  color: white;
}
.s2 {
  color: #c1c7d0;
}

.title {
  height: 20px;
  width: 119px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 26px;
  padding-top: 5px;
  padding-left: 8px;
}
.fullname {
  margin-left: 4px;
}
.fullname,
.progress,
.date {
  padding-left: 5px;
  padding-right: 5px;
  height: 14px;
  width: 89px;
  color: #c1c7d0;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 16px;
}

.progress {
  text-align: center;
  width:95%;
  padding-top: 18px;
}

.pro {
  margin-right: 55px;
}

.perc {
  margin-left: 30px;
}

.date {
  width: 85%;
  text-align: right;
}

/*Objetos*/

.progbar {
  width: 136px;
  height: 2px;
  background-color: white;
  border-radius: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10%;
  margin-right: 10%;
}
.prog {
  width: 40px;
  height: 100%;
  border-radius: 1px;
  background-color: #ffbe00;
}

