/*Contenedores*/
.contenedor {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 375px;
  height: 143px;
  align-items: center;
  align-content: center;
}

.imagen {
  grid-column: 11/12;
}

.create {
  color: #ffbe00;
  font-size: 16px;
  text-align: right;
  grid-column: 9/12;
}
.nav {
  grid-column: 1/13;
  list-style: none;
  text-align: center;
}

/*barra superior*/

.tasks {
  color: white;
  grid-column: 6/8;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 26px;
}

.arrow {
  color: white;
  font-size: 45px;
  grid-column: 2/3;
}

/*navegacion*/

.li {
  float: left;
  font-size: 14px;
}
.all {
  color: #ffbe00;
  grid-column: 2/3;
  
}
.all,
.other1,
.other2,
.other3 {
  display: inline-block;
  margin: 10px;
}

.other1,
.other2,
.other3 {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:focus{
color: #ffbe00;
text-decoration: underline;
}
